html{
    background: #000;
}

body{
    margin: 0; padding: 0;
    font-family: sans-serif;
}

article{
    padding: 0;
}

article header{
    background: #151515;
    color: #FFF;
    padding: 5px 0 5px 0;
    text-align: justify;
    position: relative;
    z-index: 2;
}

article header>div{
    margin: 0 auto 0 auto;
    padding: 0 5px 0 5px;
}

article header h1{
    display: block;
    vertical-align: middle;
    margin: 0; padding: 0;
    font-size: 24pt;
    text-align: left;
}

article .nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    background: #3344AA;
    color: #FFF;
    padding: 2px 10px 2px 10px;
}

article .nav>a{
    margin: 0 5px 0 5px;
    color: white;
}

article .nav>span{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

article .nav a:hover{
    color: #88EEFF;
}

article .nav .spring{
    flex-grow: 1;
}

article .nav input{
    border: none;
    background: #EEE;
    color: #000;
    font-size: 11pt;
    margin: 0 2px 0 2px;
}

article .nav input[type="datetime"]{
    font-family: monospace;
}

article .nav .checkbox{
    position: relative;
    margin: 0 2px 0 2px;
}

article .nav .checkbox label{
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
}

article .nav .checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 11px; height: 11px;
    top: 2px; left: 2px;
    background: #0088EE;
    transition: 0.5s;
}

article .nav .checkbox label:hover::after {
    opacity: 0.3;
}

article .nav .checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

#generic-body{
    max-width: 800px;
    margin: 0 auto 0 auto;
    background: #EEE;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    text-align: justify;
    border: 1px solid #0088EE;
    border-top: none;
    border-bottom: none;
    font-size: 12pt;
    line-height: 120%;
    position: relative;
}

#channel-list{
    list-style: none;
    font-size: 18pt;
}

#channel-list li a{
    padding: 5px;
    display: inline-block;
}

#table-body{
    background: #EEE;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid #0088EE;
    border-top: none;
    border-bottom: none;
    font-size: 12pt;
    line-height: 120%;
    position: relative;
    overflow-x: hidden;
}

table{
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
    font-family: monospace;
}

table tr td:nth-child(1),table tr th:nth-child(1){
    width:80px;
    white-space:nowrap;
    vertical-align: text-top;
    text-align: center;
}

table tr td:nth-child(1) a{
    text-decoration: none;
}

table tr td:nth-child(1) a:hover{
    color: #0088EE;
}

table tr td:nth-child(2), table tr th:nth-child(2){
    width: 100px;
    white-space: nowrap;
}

table tr td:nth-child(2){ 
    text-align: right;
    vertical-align: text-top;
    color: darkred;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tr td:nth-child(2):before{
    content: "<";
    color: #000;
}

table tr td:nth-child(2):after{
    content: ">";
    color: #000;
}

table tr td:nth-child(3){
    text-indent: 5px;
}

table tr:nth-child(2n){
    background: rgba(0,0,0,0.1);
}

table thead tr{
    background: #0088EE;
    color: #FFF;
    text-indent: 10px;
}


@media (max-width:680px){
    article header{
	display: none;
    }
    
    article .nav{
	font-size: 14pt;
    }

    article .nav span *{
	font-size: 10pt;
    }
    
    #table-body{
	font-size: 10pt;
	border: none;
    }
    
    table tr th:first-child, table tr td:first-child{
	display: none
    }

    table tr td:nth-child(2), table tr th:nth-child(2){
	width: 70px;
    }
}